body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eaf5f1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
button {
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
}

button {
	padding: 7px 15px;
	margin: 0 2px;
	background-color: white;
}

button:active {
	background-color: gray;
}

header {
	background-color: black;
	color: white;
	width: 100%;
}

header .container {
	height: 50px;
	text-align: center;

	display: flex;
	align-items: center;
}

header .container .info,
header .container .language {
	flex: 5;
}

header .container .language button:hover {
	cursor: pointer;
}

header .container .logo {
	font-size: 20px;
	background-color: green;
	flex: 4;
}

footer {
	background-color: black;
	color: white;
	width: 100%;
}

footer .container {
	height: 50px;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	height: 50px;
	background-color: green;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav .container button:hover {
	cursor: pointer;
}

main {
	padding: 10px 0 50px 0;
	display: flex;
	justify-content: center;
}

main .container {
	overflow-y: scroll;
}

table {
	text-align: center;
}

table tbody tr:first-child,
table tbody tr:first-child:hover {
	background-color: lightgray;
	height: 50px;
	color: black;
}

table tbody tr:hover {
	background-color: green;
	color: white;
}

table tbody tr th:first-child {
	min-width: 150px;
}

table tbody tr th:not(:first-child) {
	width: 125px;
	min-width: 125px;
}

nav .container {
	max-width: 1000px;
	padding: 0 10px;
	width: 100%;
	display: flex;
	justify-content: center;
}

nav .container .buttons {
	display: flex;
	max-width: 1000px;
	width: 100%;
}

nav .container .buttons button {
	flex: 1;
}

nav .container .buttons .search {
	display: flex;
	flex: 10;
	align-items: center;
	font-size: 14px;
}

nav .container .buttons .search input {
	width: 50px;
	height: 30px;
	text-align: center;
	transition-duration: 0.3s;
	margin-left: 10px;
}

nav .container .buttons .search input:focus {
	outline: none;
	width: 235px;
}
